@import '@zendeskgarden/css-bedrock';
@import '@zendeskgarden/react-buttons/dist/styles.css';
@import '@zendeskgarden/react-forms/dist/styles.css';
@import '@zendeskgarden/react-grid/dist/styles.css';
@import '@zendeskgarden/react-tables/dist/styles.css';

.loader {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
}

