@import '@zendeskgarden/css-bedrock';

html {
  overflow: hidden;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}

.loader {
  width: 40px;
}

.centered {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

